In [1]:
# activate R magic
%load_ext rpy2.ipython

/usr/local/lib/python3.6/dist-packages/rpy2/robjects/pandas2ri.py:14: FutureWarning: pandas.core.index is deprecated and will be removed in a future version.  The public classes are available in the top-level namespace.
  from pandas.core.index import Index as PandasIndex
/usr/local/lib/python3.6/dist-packages/rpy2/robjects/pandas2ri.py:34: UserWarning: pandas >= 1.0 is not supported.
  warnings.warn('pandas >= 1.0 is not supported.')

%%R
#**Manipulação de Dados com R** 
[link text](https://)

**tidyr** - Remodelagem de Dados, **Formatação dos dados**. Com apenas uma função, somos capazes de mudar completamente o formato (shape) dos nossos dados e isso pode fazer muita diferença no processo de análise. 

- gather( )  -    tudo que é linha vira coluna
- spread( )  -    tudo que é coluna vira linha
- separate( ) -  separar coluna coluna data em dia | mês | ano
- unite( ) - unir dados em uma única coluna

dplyr - Criado para complementar o que é feito com a linguagem SQL. A forma de pensar em termos de dados é a mesma. 

- select( ) - selecionar parte dos dados do conjunto
- filter( ) - filtro e aplico regras 
- group_by( ) - agrupar dados 
- summarise( ) - sumarizar e resumir os dados
- arrange( ) - reorganizar as linhas em uma coluna ou mais
- join( ) - unir dois ou mais datasets
- mutate( ) - realizar cálculos dentro de uma mesma coluna

---

#Limpeza, Formatação e Manipulação de Dados em R 
#**dplyr - Transformação de Dados**

In [2]:
%%R
# Instalando os pacotes
install.packages("readr")
install.packages("dplyr")
library(readr)
library(dplyr)

R[write to console]: Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

R[write to console]: trying URL 'https://cran.rstudio.com/src/contrib/readr_1.3.1.tar.gz'

R[write to console]: Content type 'application/x-gzip'
R[write to console]:  length 268853 bytes (262 KB)

R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]:

R[write to console]: downloaded 262 KB


R[write to console]:

R[write to console]:
R[write to console]: The downloaded source packages are in
	‘/tmp/Rtmpp7VVo8/downloaded_packages’
R[write to console]:
R[write to console]:

R[write to console]: Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

R[write to console]: trying URL 'https://cran.rstudio.com/src/contrib/dplyr_0.8.5.tar.gz'

R[write to console]: Content type 'application/x-gzip'
R[write to console]:  length 1378766 bytes (1.3 MB)

R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]:

R[write to console]: downloaded 1.3 MB


R[write to console]:

R[write to console]:
R[write to console]: The downloaded source packages are in
	‘/tmp/Rtmpp7VVo8/downloaded_packages’
R[write to console]:
R[write to console]:

R[write to console]:
Attaching package: ‘dplyr’


R[write to console]: The following objects are masked from ‘package:stats’:

    filter, lag


R[write to console]: The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [3]:
%%R
# Carregando o dataset
sono_df <- read_csv("sono.csv")
View(sono_df)
head(sono_df)
class(sono_df)
str(sono_df)

R[write to console]: Error: 'sono.csv' does not exist in current working directory ('/content').

Error: 'sono.csv' does not exist in current working directory ('/content').

In [4]:
%%R
# Carregando o dataset e retornando o resumo dos dados carregados e seus tipos
# read_csv ao importar já formata o dataset em "tibble"
sono_df <- read_csv("sono.csv")

R[write to console]: Error: 'sono.csv' does not exist in current working directory ('/content').

Error: 'sono.csv' does not exist in current working directory ('/content').

In [5]:
%%R 
head(sono_df)

R[write to console]: Error in head(sono_df) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> head

Error in head(sono_df) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> head

In [6]:
%%R
class(sono_df)

R[write to console]: Error in withVisible({ : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible

Error in withVisible({ : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible

In [7]:
%%R
str(sono_df)

R[write to console]: Error in str(sono_df) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> str

Error in str(sono_df) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> str

In [8]:
%%R
# Função glimpse() pode ser usada no lugar da função str()
# Imprime já no formato do objeto tbldf ('dataframe')
glimpse(sono_df)

R[write to console]: Error in glimpse(sono_df) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> glimpse

Error in glimpse(sono_df) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> glimpse

v

In [9]:
%%R
# Aplicando mutate junto a glimpse
# A função glimpse pega o dataframe, aplica uma nova coluna com uma operação através do mutate
glimpse(mutate(sono_df, peso_libras = sono_total / 0.45359237))

R[write to console]: Error in mutate(sono_df, peso_libras = sono_total/0.45359237) :
  object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> glimpse -> mutate

Error in mutate(sono_df, peso_libras = sono_total/0.45359237) :
  object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> glimpse -> mutate

In [10]:
%%R
count(sono_df, cidade) # contagem de quantos registros por cidade

R[write to console]: Error in group_vars(x) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> count -> group_vars

Error in group_vars(x) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> count -> group_vars

In [11]:
%%R 
hist(sono_df$sono_total)

R[write to console]: Error in hist(sono_df$sono_total) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> hist

Error in hist(sono_df$sono_total) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> hist

In [12]:
%%R
# Amostragem de tamanho 10 a partir do dataset original
sample_n(sono_df, size = 10)

R[write to console]: Error in sample_n(sono_df, size = 10) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> sample_n

Error in sample_n(sono_df, size = 10) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> sample_n

---

#**Select()**  - {dplyr}

In [13]:
%%R 
# select()
sleepData <- select(sono_df, nome, sono_total) #selecionando nome, sono_total e atribuir a sleepData
head(sleepData)
class(sleepData)
select(sono_df, nome)
select(sono_df, nome:cidade)
select(sono_df, nome:pais) # retornar um range de colunas, a partir de nome até país.

R[write to console]: Error in select(sono_df, nome, sono_total) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> select

Error in select(sono_df, nome, sono_total) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> select

---

#**Filter()**  - {dplyr}

In [14]:
%%R
filter(sono_df, sono_total >= 16)

R[write to console]: Error in filter(sono_df, sono_total >= 16) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> filter

Error in filter(sono_df, sono_total >= 16) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> filter

In [15]:
%%R
filter(sono_df, sono_total >= 16, peso >= 80)

R[write to console]: Error in filter(sono_df, sono_total >= 16, peso >= 80) :
  object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> filter

Error in filter(sono_df, sono_total >= 16, peso >= 80) :
  object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> filter

In [16]:
%%R
filter(sono_df, cidade %in% c("Recife", "Curitiba"))
#pesquisar em cidade apenas valores Recife e Curitiba
#aplicando SQL em R

R[write to console]: Error in filter(sono_df, cidade %in% c("Recife", "Curitiba")) :
  object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> filter

Error in filter(sono_df, cidade %in% c("Recife", "Curitiba")) :
  object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> filter

---

#**Arrange()** - {dplyr}

In [17]:
%%R
#arrange()
sono_df %>% #operador de concatenação de operações
arrange(cidade) %>% head

R[write to console]: Error in eval(lhs, parent, parent) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> %>% -> eval -> eval

Error in eval(lhs, parent, parent) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> %>% -> eval -> eval

In [18]:
%%R
sono_df %>% 
  select(nome, cidade, sono_total) %>% #select
  arrange(cidade, sono_total) %>% #arrange
  head #head

R[write to console]: Error in eval(lhs, parent, parent) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> %>% -> eval -> eval

Error in eval(lhs, parent, parent) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> %>% -> eval -> eval

In [19]:
%%R
sono_df %>% 
  select(nome, cidade, sono_total) %>% #select
  arrange(cidade, sono_total) %>% #arrange
  filter(sono_total >= 16) #filter

R[write to console]: Error in eval(lhs, parent, parent) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> %>% -> eval -> eval

Error in eval(lhs, parent, parent) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> %>% -> eval -> eval

In [20]:
%%R
sono_df %>% 
  select(nome, cidade, sono_total) %>% #select
  arrange(cidade, desc(sono_total)) %>% #arrange desc
  filter(sono_total >= 16) # filter

R[write to console]: Error in eval(lhs, parent, parent) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> %>% -> eval -> eval

Error in eval(lhs, parent, parent) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> %>% -> eval -> eval

---

#**Mutate()**  - {dplyr}

In [21]:
%%R
sono_df %>% 
  mutate(novo_indice = sono_total / peso) %>% #mutate mostra 1 novo campo em tempo de execução sem alterar dataframe
  head #head

R[write to console]: Error in eval(lhs, parent, parent) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> %>% -> eval -> eval

Error in eval(lhs, parent, parent) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> %>% -> eval -> eval

In [22]:
%%R
sono_df %>% 
  mutate(novo_indice = sono_total / peso, peso_libras = peso / 0.45359237) %>% #mutate mostra 2 novos campo em tempo de execução sem alterar dataframe
  head #head

R[write to console]: Error in eval(lhs, parent, parent) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> %>% -> eval -> eval

Error in eval(lhs, parent, parent) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> %>% -> eval -> eval

---

#**Summarise()** - {dplyr}

In [23]:
%%R
sono_df %>% 
  summarise(media_sono = mean(sono_total)) #summarise + mean

R[write to console]: Error in eval(lhs, parent, parent) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> %>% -> eval -> eval

Error in eval(lhs, parent, parent) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> %>% -> eval -> eval

In [24]:
%%R
sono_df %>% 
  summarise(media_sono = mean(sono_total), #summarise + mean
            min_sono = min(sono_total), #min
            max_sono = max(sono_total), #max
            total = n()) #n

R[write to console]: Error in eval(lhs, parent, parent) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> %>% -> eval -> eval

Error in eval(lhs, parent, parent) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> %>% -> eval -> eval

---

#**Group_By()**  - {dplyr}
## Antes agrupamento e depois sumarização

In [25]:
%%R
sono_df %>% 
  group_by(cidade) %>%  #group_by - agrupado por cidade
  summarise(avg_sono = mean(sono_total), #summarise
            min_sono = min(sono_total), #min
            max_sono = max(sono_total), #max
            total = n()) #n

R[write to console]: Error in eval(lhs, parent, parent) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> %>% -> eval -> eval

Error in eval(lhs, parent, parent) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> %>% -> eval -> eval

---

#**Operador: %>%** - {dplyr}

In [26]:
%%R #notação comum
head(select(sono_df, nome, sono_total))

NULL

In [27]:
%%R
sono_df %>% #outra notação para o mesmo comando anterior sem o pipe
  select(nome, sono_total) %>% 
  head

R[write to console]: Error in eval(lhs, parent, parent) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> %>% -> eval -> eval

Error in eval(lhs, parent, parent) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> %>% -> eval -> eval

In [28]:
%%R
sono_df %>%
  mutate(novo_indice = round(sono_total * peso)) %>%  #mutate + round
  arrange(desc(novo_indice)) %>% #arrange + desd
  select(cidade, novo_indice) #select

R[write to console]: Error in eval(lhs, parent, parent) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> %>% -> eval -> eval

Error in eval(lhs, parent, parent) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> %>% -> eval -> eval

In [29]:
%%R
sono_df

R[write to console]: Error in withVisible({ : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible

Error in withVisible({ : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible

In [30]:
%%R
sono_df2 <- sono_df %>%
  mutate(novo_indice = round(sono_total * peso)) %>%
  arrange(desc(novo_indice)) %>%
  select(cidade, novo_indice)

R[write to console]: Error in eval(lhs, parent, parent) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> %>% -> eval -> eval

Error in eval(lhs, parent, parent) : object 'sono_df' not found
Calls: <Anonymous> -> <Anonymous> -> withVisible -> %>% -> eval -> eval



---

---

#**Estudo de caso** - {dplyr & hflights}
## Limpando, Transformando e Manipulando Dados de Voos

In [31]:
%%R
install.packages("hflights")
library(hflights)
library(dplyr)

R[write to console]: Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

R[write to console]: trying URL 'https://cran.rstudio.com/src/contrib/hflights_0.1.tar.gz'

R[write to console]: Content type 'application/x-gzip'
R[write to console]:  length 2205510 bytes (2.1 MB)

R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]: =
R[write to console]:

R[write to console]: downloaded 2.1 MB


R[write to console]:

R[write to console]:
R[write to console]: The downloaded source packages are in
	‘/tmp/Rtmpp7VVo8/downloaded_packages’
R[write to console]:
R[write to console]:



---

#**tbl_df()** - {dplyr}
## 1. Criando objeto Tibble DataFrame

In [0]:
%%R
flights <- tbl_df(hflights)

#**glimpse()**
## 2. Resumindo dados, tipos e dimensão

In [33]:
%%R 
glimpse(flights)

Rows: 227,496
Columns: 21
$ Year              <int> 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 201…
$ Month             <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, …
$ DayofMonth        <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, …
$ DayOfWeek         <int> 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, …
$ DepTime           <int> 1400, 1401, 1352, 1403, 1405, 1359, 1359, 1355, 144…
$ ArrTime           <int> 1500, 1501, 1502, 1513, 1507, 1503, 1509, 1454, 155…
$ UniqueCarrier     <chr> "AA", "AA", "AA", "AA", "AA", "AA", "AA", "AA", "AA…
$ FlightNum         <int> 428, 428, 428, 428, 428, 428, 428, 428, 428, 428, 4…
$ TailNum           <chr> "N576AA", "N557AA", "N541AA", "N403AA", "N492AA", "…
$ ActualElapsedTime <int> 60, 60, 70, 70, 62, 64, 70, 59, 71, 70, 70, 56, 63,…
$ AirTime           <int> 40, 45, 48, 39, 44, 45, 43, 40, 41, 45, 42, 41, 44,…
$ ArrDelay          <int> -10, -9, -8, 3, -3, -7, -1, -16, 44, 43, 29, 5, -9,…
$ DepDelay          <int> 0, 1, -8, 3, 5, -1, -1, -5, 43, 43, 29, 19, -2, -3,…
$ Origin            <chr> "IAH", "IAH", "IAH", "IAH", "IAH", "IAH", "IAH", "I…
$ Dest              <chr> "DFW", "DFW", "DFW", "DFW", "DFW", "DFW", "DFW", "D…
$ Distance          <int> 224, 224, 224, 224, 224, 224, 224, 224, 224, 224, 2…
$ TaxiIn            <int> 7, 6, 5, 9, 9, 6, 12, 7, 8, 6, 8, 4, 6, 5, 6, 12, 8…
$ TaxiOut           <int> 13, 9, 17, 22, 9, 13, 15, 12, 22, 19, 20, 11, 13, 1…
$ Cancelled         <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ CancellationCode  <chr> "", "", "", "", "", "", "", "", "", "", "", "", "",…
$ Diverted          <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …

#**data.frame()**
##3.  Visualizando como DataFrame

In [34]:
%%R
data.frame(head(flights))

  Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
1 2011     1          1         6    1400    1500            AA       428
2 2011     1          2         7    1401    1501            AA       428
3 2011     1          3         1    1352    1502            AA       428
4 2011     1          4         2    1403    1513            AA       428
5 2011     1          5         3    1405    1507            AA       428
6 2011     1          6         4    1359    1503            AA       428
  TailNum ActualElapsedTime AirTime ArrDelay DepDelay Origin Dest Distance
1  N576AA                60      40      -10        0    IAH  DFW      224
2  N557AA                60      45       -9        1    IAH  DFW      224
3  N541AA                70      48       -8       -8    IAH  DFW      224
4  N403AA                70      39        3        3    IAH  DFW      224
5  N492AA                62      44       -3        5    IAH  DFW      224
6  N262AA                64      45       -7       -1    IAH  DFW      224
  TaxiIn TaxiOut Cancelled CancellationCode Diverted
1      7      13         0                         0
2      6       9         0                         0
3      5      17         0                         0
4      9      22         0                         0
5      9       9         0                         0
6      6      13         0                         0

# Slicing

In [35]:
#filtrando dados com slice
%%R
flights[flights$Month == 1 & flights$DayofMonth == 1, ] #expresão inteira para retornar as linhas especificas e todas as colunas

# A tibble: 552 x 21
    Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
   <int> <int>      <int>     <int>   <int>   <int> <chr>             <int>
 1  2011     1          1         6    1400    1500 AA                  428
 2  2011     1          1         6     728     840 AA                  460
 3  2011     1          1         6    1631    1736 AA                 1121
 4  2011     1          1         6    1756    2112 AA                 1294
 5  2011     1          1         6    1012    1347 AA                 1700
 6  2011     1          1         6    1211    1325 AA                 1820
 7  2011     1          1         6     557     906 AA                 1994
 8  2011     1          1         6    1824    2106 AS                  731
 9  2011     1          1         6     654    1124 B6                  620
10  2011     1          1         6    1639    2110 B6                  622
# … with 542 more rows, and 13 more variables: TailNum <chr>,
#   ActualElapsedTime <int>, AirTime <int>, ArrDelay <int>, DepDelay <int>,
#   Origin <chr>, Dest <chr>, Distance <int>, TaxiIn <int>, TaxiOut <int>,
#   Cancelled <int>, CancellationCode <chr>, Diverted <int>

#**filter()** - {dplyr}
## Prático

In [36]:
#aplicando filter 
%%R
filter(flights, Month == 1, DayofMonth == 1 ) #filter + duas regras de filtro

# A tibble: 552 x 21
    Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
   <int> <int>      <int>     <int>   <int>   <int> <chr>             <int>
 1  2011     1          1         6    1400    1500 AA                  428
 2  2011     1          1         6     728     840 AA                  460
 3  2011     1          1         6    1631    1736 AA                 1121
 4  2011     1          1         6    1756    2112 AA                 1294
 5  2011     1          1         6    1012    1347 AA                 1700
 6  2011     1          1         6    1211    1325 AA                 1820
 7  2011     1          1         6     557     906 AA                 1994
 8  2011     1          1         6    1824    2106 AS                  731
 9  2011     1          1         6     654    1124 B6                  620
10  2011     1          1         6    1639    2110 B6                  622
# … with 542 more rows, and 13 more variables: TailNum <chr>,
#   ActualElapsedTime <int>, AirTime <int>, ArrDelay <int>, DepDelay <int>,
#   Origin <chr>, Dest <chr>, Distance <int>, TaxiIn <int>, TaxiOut <int>,
#   Cancelled <int>, CancellationCode <chr>, Diverted <int>

In [38]:
#aplicando filter
%%R
filter(flights, UniqueCarrier %in% c("AA", "UA"))

# A tibble: 5,316 x 21
    Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
   <int> <int>      <int>     <int>   <int>   <int> <chr>             <int>
 1  2011     1          1         6    1400    1500 AA                  428
 2  2011     1          2         7    1401    1501 AA                  428
 3  2011     1          3         1    1352    1502 AA                  428
 4  2011     1          4         2    1403    1513 AA                  428
 5  2011     1          5         3    1405    1507 AA                  428
 6  2011     1          6         4    1359    1503 AA                  428
 7  2011     1          7         5    1359    1509 AA                  428
 8  2011     1          8         6    1355    1454 AA                  428
 9  2011     1          9         7    1443    1554 AA                  428
10  2011     1         10         1    1443    1553 AA                  428
# … with 5,306 more rows, and 13 more variables: TailNum <chr>,
#   ActualElapsedTime <int>, AirTime <int>, ArrDelay <int>, DepDelay <int>,
#   Origin <chr>, Dest <chr>, Distance <int>, TaxiIn <int>, TaxiOut <int>,
#   Cancelled <int>, CancellationCode <chr>, Diverted <int>

In [45]:
#aplicando filter
%%R
filter(flights, UniqueCarrier == "AA" | UniqueCarrier == "UA")
# filtrar apenas aquilo que é importante para nosso trabalho.

# A tibble: 5,316 x 21
    Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
   <int> <int>      <int>     <int>   <int>   <int> <chr>             <int>
 1  2011     1          1         6    1400    1500 AA                  428
 2  2011     1          2         7    1401    1501 AA                  428
 3  2011     1          3         1    1352    1502 AA                  428
 4  2011     1          4         2    1403    1513 AA                  428
 5  2011     1          5         3    1405    1507 AA                  428
 6  2011     1          6         4    1359    1503 AA                  428
 7  2011     1          7         5    1359    1509 AA                  428
 8  2011     1          8         6    1355    1454 AA                  428
 9  2011     1          9         7    1443    1554 AA                  428
10  2011     1         10         1    1443    1553 AA                  428
# … with 5,306 more rows, and 13 more variables: TailNum <chr>,
#   ActualElapsedTime <int>, AirTime <int>, ArrDelay <int>, DepDelay <int>,
#   Origin <chr>, Dest <chr>, Distance <int>, TaxiIn <int>, TaxiOut <int>,
#   Cancelled <int>, CancellationCode <chr>, Diverted <int>

In [48]:
#aplicando filter &
%%R
filter(flights, UniqueCarrier == "AA" & UniqueCarrier == "UA")
# não há retorno com duas companhias iguais

# A tibble: 0 x 21
# … with 21 variables: Year <int>, Month <int>, DayofMonth <int>,
#   DayOfWeek <int>, DepTime <int>, ArrTime <int>, UniqueCarrier <chr>,
#   FlightNum <int>, TailNum <chr>, ActualElapsedTime <int>, AirTime <int>,
#   ArrDelay <int>, DepDelay <int>, Origin <chr>, Dest <chr>, Distance <int>,
#   TaxiIn <int>, TaxiOut <int>, Cancelled <int>, CancellationCode <chr>,
#   Diverted <int>

In [49]:
#aplicando filter %in% vetor
%%R
filter(flights, UniqueCarrier %in% c("AA", "UA"))

# A tibble: 5,316 x 21
    Year Month DayofMonth DayOfWeek DepTime ArrTime UniqueCarrier FlightNum
   <int> <int>      <int>     <int>   <int>   <int> <chr>             <int>
 1  2011     1          1         6    1400    1500 AA                  428
 2  2011     1          2         7    1401    1501 AA                  428
 3  2011     1          3         1    1352    1502 AA                  428
 4  2011     1          4         2    1403    1513 AA                  428
 5  2011     1          5         3    1405    1507 AA                  428
 6  2011     1          6         4    1359    1503 AA                  428
 7  2011     1          7         5    1359    1509 AA                  428
 8  2011     1          8         6    1355    1454 AA                  428
 9  2011     1          9         7    1443    1554 AA                  428
10  2011     1         10         1    1443    1553 AA                  428
# … with 5,306 more rows, and 13 more variables: TailNum <chr>,
#   ActualElapsedTime <int>, AirTime <int>, ArrDelay <int>, DepDelay <int>,
#   Origin <chr>, Dest <chr>, Distance <int>, TaxiIn <int>, TaxiOut <int>,
#   Cancelled <int>, CancellationCode <chr>, Diverted <int>

#**Select()** - {dplyr}

In [44]:
%%R 
select(flights, Year:DayofMonth, contains("Taxi"), contains("Delay")) 
# seleção da colunas de year até DayofMonth - seleção range de colunas
# e outras colunas que contenham caracteres "Taxi" e "Delay"
# retornou o range + TaxiIn,, TaxiOut, ArrDelay, DepDelay

# A tibble: 227,496 x 7
    Year Month DayofMonth TaxiIn TaxiOut ArrDelay DepDelay
   <int> <int>      <int>  <int>   <int>    <int>    <int>
 1  2011     1          1      7      13      -10        0
 2  2011     1          2      6       9       -9        1
 3  2011     1          3      5      17       -8       -8
 4  2011     1          4      9      22        3        3
 5  2011     1          5      9       9       -3        5
 6  2011     1          6      6      13       -7       -1
 7  2011     1          7     12      15       -1       -1
 8  2011     1          8      7      12      -16       -5
 9  2011     1          9      8      22       44       43
10  2011     1         10      6      19       43       43
# … with 227,486 more rows

#**Organizando os Dados**

In [50]:
%%R
flights %>%
  select(UniqueCarrier, DepDelay) %>%
  arrange(DepDelay) #arrange

# A tibble: 227,496 x 2
   UniqueCarrier DepDelay
   <chr>            <int>
 1 OO                 -33
 2 MQ                 -23
 3 XE                 -19
 4 XE                 -19
 5 CO                 -18
 6 EV                 -18
 7 XE                 -17
 8 CO                 -17
 9 XE                 -17
10 MQ                 -17
# … with 227,486 more rows

In [51]:
%%R
flights%>%
  select(Distance, AirTime) %>%
  mutate(Speed = Distance/AirTime*60) #mutate Speed

# A tibble: 227,496 x 3
   Distance AirTime Speed
      <int>   <int> <dbl>
 1      224      40  336
 2      224      45  299.
 3      224      48  280
 4      224      39  345.
 5      224      44  305.
 6      224      45  299.
 7      224      43  313.
 8      224      40  336
 9      224      41  328.
10      224      45  299.
# … with 227,486 more rows

#**head(with(data(tapply(col1, col2, mean, na.rm = TRUE))**

In [53]:
%%R
head(with(flights, tapply(ArrDelay, Dest, mean, na.rm = TRUE)))

      ABQ       AEX       AGS       AMA       ANC       ASE
 7.226259  5.839437  4.000000  6.840095 26.080645  6.794643

#**aggregate()**

In [54]:
%%R 
head(aggregate(ArrDelay ~ Dest, flights, mean))
#agregação por cada um dos tipos de destino

  Dest  ArrDelay
1  ABQ  7.226259
2  AEX  5.839437
3  AGS  4.000000
4  AMA  6.840095
5  ANC 26.080645
6  ASE  6.794643

#**tally()**

In [57]:
%%R
flights %>%
  group_by(Month, DayofMonth) %>%
  tally(sort = TRUE)

# A tibble: 365 x 3
# Groups:   Month [12]
   Month DayofMonth     n
   <int>      <int> <int>
 1     8          4   706
 2     8         11   706
 3     8         12   706
 4     8          5   705
 5     8          3   704
 6     8         10   704
 7     1          3   702
 8     7          7   702
 9     7         14   702
10     7         28   701
# … with 355 more rows